# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
*.egg-info/
dist/
build/

# FastAPI / general logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# node_modules (if you have frontend inside repo)
node_modules/
